DATABASE_USERNAME=user
DATABASE_PASSWORD=password

# required by DigitalServicesCore
# User management
# Set to true to create User TABLES on the separate User DB
DEVISE_USER_SEPARATE_DB=false
DEVISE_MAILER_SENDER=no-reply@example.org

# Airbrake
AIRBRAKE_HOST=https://errbit.server.here
AIRBRAKE_PROJECT_KEY=errbit_project_key_here
