<% content_for :page_title, make_page_title("Reset password confirmation") %>
<div class="step-container">
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="govuk-box-highlight">
        <h1 class="bold-large">Password reset request</h1>
        <p>We have sent an email to<br/>
        <strong class="heading-medium"><%= flash[:email] %></strong>
        </p>
      </div>
      <h2 class="heading-medium">What happens next</h2>
      <p>You'll receive a password reset email shortly.</p>
      <p>If you don't receive this email within 30 minutes, contact the Environment Agency at
        <%= link_to t("global.support_email"), "mailto:#{t("global.support_email").delete(" ") }" %>
      </p>
      <div class="form-group">
        <%= link_to t("global.return_to_start"), root_path, class: "button", role: "button" %>
      </div>
    </div>
  </div>
</div>
