<p>Dear <%= @name %>,</p>
<p>We've received your request to create an account for the Flood and Coastal Erosion
Risk Management Project Application and Funding Service (PAFS) using the email address
'<%= @email %>'</p>
<p>We will verify your request and email the account details to you within 5 working days</p>
<p><strong>Contact us</strong></p>
<ul>
  <li>If you don't receive your account details within 5 working days</li>
  <li>If you have not requested an account</li>
  <li>If you have requested an account in error</li>
</ul>
<p>You can contact the Environment Agency on 02030 254 771</p>
