<%= render "govuk_publishing_components/components/cookie_banner", {
  title: "Cookies on Project Application and Funding Service",
  text: sanitize("We use some essential cookies to make this service work.
                  <br><br>
                  We’d also like to use analytics cookies so we can understand how you use the service and make improvements."),
  confirmation_message: sanitize("You’ve accepted all cookies. You can <a class='govuk-link' href='/cookies'>change your cookie settings</a> at any time."),
  services_cookies: {
    yes: {
      text: "Accept analytics cookies",
      data_attributes: {
        "track-category": "cookieBanner"
      }
    },
    no: {
      text: "Reject analytics cookies",
      data_attributes: {
        "track-category": "cookieBanner"
      }
    },
    cookie_preferences: {
      text: "View cookies",
      href: cookies_path
    }
  }
} %>
