<%
  ## Uncomment the lines below to test the flash alerts
  # %i[alert warn notice info not_authorized].each do |a|
  #   flash[a] = "A flash alert with key [#{a}]"
  # end
  flashes = flash.to_hash.symbolize_keys.slice(:alert, :notice, :info, :warn, :not_authorized)
%>
<% if flashes.any? %>
  <div class="front-office-core-alerts text">
    <% flashes.each do |key, messages| %>
        <%
          flash.discard(key)
          clazz =
            case key
            when :alert then "danger"
            when :notice then "success"
            when :info then "info"
            when :warn then "warning"
            when :not_authorized then "danger"
            else "alert"
            end
          messages = [messages] unless messages.is_a?(Array)
        %>

        <% messages.reject(&:blank?).each do |text| %>
          <div class= "alert alert-<%= clazz %>" role="alert" >
            <%= text.to_s %>
          </div>
        <% end %>
    <% end %>
  </div>
<% end %>
