<details>
  <summary>I have forgotten which email address to use</summary>
  <div class="panel">
    <p>If you don't know the email address used to set up your account, contact the Environment Agency on <%= t("support_telephone_number") %>.</p>
  </div>
</details>
