<details>
  <summary>I have forgotten my password</summary>
  <div class="panel">
    <p>If you don't know the password confirmed to you by email when your account was created, you can <%= link_to t("reset_your_password_link"), new_password_path(resource_name) %></p>
  </div>
</details>
