<div class="phase-banner-beta">
  <p>
    <strong class="phase-tag">BETA</strong>
    <span><%= t(".heading_html", :href => link_to(t(".feedback"), PafsCore.configuration.banner_feedback_uri, target: '_blank')) %></span>
  </p>
</div>
