<div class="user-bar font-xsmall">
  <div id="dashboard-link-container">
    <%= link_to t('dashboard_link'), pafs_core.projects_path %>
  </div>
  <div id="user-info-container">
    <ul>
      <li>
        <div class="text-secondary">Signed in as: <strong class="bold-xsmall"><%= current_user.full_name %></strong></div>
      </li>
      <li>
        <%= link_to(t('logout_link'), main_app.destroy_user_session_path) if user_signed_in? %>
      </li>
    </ul>
  </div>
</div>
