<% content_for :title, "Cookies" %>

<header class="text margin-top">
  <h1 class="form-title heading-xlarge">
    Cookies
  </h1>
</header>

<div class="text">

  <p class="lede">
    The 'submit a proposal for flood and coastal erosion risk management project funding service' puts small files (known as ‘cookies’) on to your computer.
  </p>

  <p>These cookies are used to:</p>

  <ul class="list-bullet">
    <li>help us understand how you use the service, so we can make improvements</li>
    <li>remember what notifications you’ve seen so that you’re not shown them more than once</li>
    <li>temporarily store the information you enter</li>
  </ul>

  <p>Find out more about <a target="_blank" rel="external" href="http://www.aboutcookies.org/">how to manage cookies</a>.</p>

  <br>

  <h2 class="heading-medium">Google Analytics cookie</h2>

  <p>We use Google Analytics to collect information about how you use the service. This information helps us to improve the service.</p>

  <p>The Google analytics cookie collects and stores information about:</p>

  <ul class="list-bullet">
    <li>the pages you visit - how long you spend on each page</li>
    <li>how you got to the service</li>
    <li>what you click on while you’re using the service</li>
  </ul>

  <table class="cookies-table" role="presentation" summary="Google analytics cookie collection">
    <thead>
    <tr>
      <th>Name</th>
      <th>Purpose</th>
      <th>Expires</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>_ga</td>
      <td>Used to identify unique users and inform referring sites, visitor and session counts</td>
      <td>2 years</td>
    </tr>
    </tbody>
  </table>

  <p>Google isn't allowed to use or share our analytics data with anyone.</p>

  <br>

  <h2 class="heading-medium">Session cookie</h2>

  <p>We store session cookies on your computer to help keep your information secure while you use the service.</p>

  <table class="cookies-table" role="presentation" summary="Session cookie collection">
    <thead>
    <tr>
      <th>Name</th>
      <th>Purpose</th>
      <th>Expires</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>_pafs_session</td>
      <td>Used for session management and authentication</td>
      <td>When you close your browser</td>
    </tr>
    </tbody>
  </table>

  <br>

  <h2 class="heading-medium">Introductory message cookie</h2>

  <p>When you first use the service, you may see a cookie message appear
    at the top of the screen. Once you’ve seen the message, we store a
    cookie on your computer so it knows not to show it again.</p>

  <table class="cookies-table" role="presentation" summary="Introductory message cookie collection">
    <thead>
    <tr>
      <th>Name</th>
      <th>Purpose</th>
      <th>Expires</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>seen_cookie_message</td>
      <td>Stores a message to let us know that you have seen our cookie message</td>
      <td>1 month</td>
    </tr>
    </tbody>
  </table>

</div>


