<% content_for :page_title, make_page_title("Privacy") %>

<header class="text margin-top">
  <h1 class="form-title heading-xlarge">
    Privacy policy
  </h1>
</header>


<div class="text">

  <p class="lede">
    The ‘Submit a proposal for flood and coastal erosion risk management project funding’ service is
    run by the Environment Agency. The information you provide is handled in accordance with its
    <a target="_blank" rel="external" href="https://www.gov.uk/government/organisations/environment-agency/about/personal-information-charter">personal information charter.</a>.
  </p>

  <p> The information you provide will be used to: </p>

  <ul class="list-bullet">
    <li> review your proposal</li>
    <li>prioritise your proposal</li>
    <li>determine eligibility for indicative grant-in- aid funding</li>
  </ul>

  <br>

  <p> We may also use the information you give us to: </p>
  <ul class="list-bullet">
    <li>assess whether customers are satisfied with our service, and improve our service</li>
    <li>offer you documents or services relating to environmental matters</li>
    <li>consult the public, public organisations and other organisations (for example, the Health and Safety Executive) on environmental issues</li>
    <li>carry out research and development work on environmental issues</li>
    <li>prevent someone from breaking environmental laws, or investigate and take action when someone may have broken environmental laws</li>
    <li>respond to information requests under the Freedom of Information Act 2000 and the Environmental Information Regulations 2004 (if the Data Protection Act allows)</li>
  </ul>

</div>


