<% content_for :title, "Privacy" %>

<header class="text margin-top">
  <h1 class="form-title govuk-heading-l">
    Project Application and Funding Service Privacy Notice 
  </h1>
</header>

<h2 class="heading-medium">How we use your personal data</h2>

<div class="text">
  <p class="govuk-body">
    We are the Environment Agency and we run the Project Application and Funding service. We are the data controller for this service.
    A data controller determines how and why personal data (personal information) is processed
  </p>

  <p class="govuk-body">
    Our <a target="_blank" rel="external" rel="noopener" href="https://www.gov.uk/government/organisations/environment-agency/about/personal-information-charter">personal information charter</a>
    explains how we deal with your personal information. Go to GOV.UK and search 'Environment Agency personal information charter'.
  </p>
  
  <h3 class="heading-medium">The personal data we need </h3>
  <p class="govuk-body"> The personal data we process includes:</p>

  <ul class="list-bullet">
    <li>Full name</li>
    <li>Email address</li>
    <li>Anonymous feedback you leave</li>
    <li>Information on how you use the site, including cookies</li>
  </ul>

  <br>

  <p class="govuk-body">
    We are allowed to process your personal data to carry out a task in the public interest to manage flood risk.
    The lawful basis for processing your personal data is to perform a task in the public interest that is set out in law.
  </p>

  <p class="govuk-body">
    If you do not give us this personal data we will not be able to register you as a user on the Project Application and Funding Service.
  </p>

  <h3 class="heading-medium">Site Analytics and Cookies</h3>
  <p class="govuk-body">
    All data on this site is anonymised. Please see the following <a target="_blank" rel="external" href="/cookies">cookies </a> link for further information
  </p>

  <h3 class="heading-medium">What we do with your personal data</h3>
  <p class="govuk-body"> We do not use your data to make an automated decision or for automated profiling. </p>
  <p class="govuk-body"> We will not share or disclose your personal data to any party outside the Environment Agency without your explicit consent unless we are lawfully able to do so </p>

  <h3 class="heading-medium">How long we keep your personal data</h3>
  <p class="govuk-body">User data is reviewed every year to ensure that we do not hold on to personal information any longer than is necessary.</p>

  <h3 class="heading-medium">Where your personal data is processed and stored</h3>
  <p class="govuk-body">We store your personal data on our servers in the UK.</p>

  <h3 class="heading-medium">Contact Details</h3>
  <p class="govuk-body">Our Data Protection Officer (DPO) is responsible for independent advice and monitoring of the Environment Agency’s use of personal information.</p>
  <p class="govuk-body">If you have any concerns or queries about how we process personal data, or if you would like to make a complaint or request relating to data protection, please contact our DPO:</p>
  <p class="govuk-body">Data Protection Officer, Environment Agency, Horizon House, Deanery Road, Bristol, BS1 5AH </p>
  <p class="govuk-body">Email: dataprotection@environment-agency.gov.uk</p>

  <p class="govuk-body">
    You can find out about your personal data rights from the Information Commissioner's Office (ICO) at www.ico.org.uk.
    The ICO regulate the data protection legislation. You have the right to lodge a complaint with them at any time.
  </p>

  <p class="govuk-body">This notice was last updated on 24 September 2021</p>
</div>


