<h1 class="heading-large">Apply for funding for flood defence and coastal erosion risk management (FCERM) projects</h1>

<h3 class="heading-medium">Use this Project Application and Funding Service to:</h3>
<ul class="list-bullet">
  <li>Submit a new project proposal for flood and coastal erosion risk management (FCERM) funding</li>
  <li>Manage, review or update an existing proposal</li>
</ul>

<p>
  You will need a Project Application and Funding Service account in order to use this service.
</a>

<h3 class="heading-medium">If you don't have an account</h3>

<p>
You can <%= link_to t('request_an_account_link'), pafs_core.new_account_request_path %> if any of the following apply:
</p>

<p>
  <ul class="list-bullet">
    <li>You work for a Risk Management Authority</li>
    <li>You work for a Partnership and Strategic Overview Office</li>
    <li>You are an Area Flood Risk Manager</li>
    <li>You are part of a National Area Team</li>
  </ul>
</p>

<h3 class="heading-medium">Before you start</h3>

<p>
  If you have an account, you can start and save a project proposal but to complete and submit a project proposal you will need:
<p>

<p>
  <ul class="list-bullet">
    <li>To know the outcomes you expect to achieve, including the number of households benefiting</li>
    <li>To know the amount of funding required, including expected contributions, and when this is going to be spent</li>
    <li>an estimate of the whole life costs and benefits discounted to today's values. The partnership funding guidance and multi-coloured manual can help you.</li>
  </ul>
</p>

<div class="form-group">
  <p>
    <%= link_to t('.start_now'), pafs_core.projects_path, class: "button button-start", role: "button" %>
  </p>
</div>
