# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 9660f8e1760b76b6ade62bb6bf47d17ff0e6df359a3f390c1b83389994a9262fe7b7c3e87cc164adc95a38a51ae4ea13abcc259af355fd00a0f783409a6d1673

test:
  secret_key_base: 03d867e7312c65f42590bfe4e772e36c3d24de162b8081e149f5c18c3f76257bbf5c116cc940766f77ac29b33418a83cb31db6ac4102b294f582dbcc7c78a219

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
