@import 'helpers';
@import 'typography';
@import 'design-patterns/buttons';

// buttons
// ==========================================================================

.button-secondary {
  @include button($grey-3);
}

.button-warning {
  @include button($red);
}

// Button size made bigger for better accessibility on mobile devices
.button {
  @include button;
  @include media (mobile) {
    box-sizing: border-box;
    clear: both;
    font-size: 19px;
    margin-top: 30px;
    padding: 0.7em 0.6em 0.4em 0.6em;
    text-align: center;
    width: 100%;
  }
}

// Start now buttons
.button-start,
.button-get-started {
  @include bold-24;
  background-image: file-url('icon-pointer.png');
  background-position: 100% 50%;
  background-repeat: no-repeat;
  padding: pem(7) pem(41) pem(4) pem(16);

  @include device-pixel-ratio {
    background-image: file-url('icon-pointer-2x.png');
    background-size: 30px 19px;
  }

  @include ie(6) {
    background-image: file-url('icon-pointer-2x.png');
  }
}
