@import 'colours';
@import 'helpers';
@import 'measurements';

// Details
// ==========================================================================

.details-block {
  margin-bottom: $gutter;
}

details {
  display: block;

  summary {
    color: $govuk-blue;
    cursor: pointer;
    display: inline-block;
    margin-bottom: pem(5);
    position: relative;

    &:hover {
      color: $link-hover-colour;
    }

    &:focus {
      outline: 3px solid $yellow;
    }
  }

  // Underline only summary text (not the arrow)
  .summary {
    text-decoration: underline;
  }

  // Match fallback arrow spacing with -webkit default
  .arrow {
    font-style: normal;
    margin-right: 0.35em;
  }

  // Remove top margin from bordered panel
  .panel-indent {
    margin-top: 0;
  }
}
