.option-group {
  margin-bottom: 1em;

  details {
    margin-bottom: 0.5em;

    .panel-indent {
      margin-bottom: 1.5em;
    }
  }
}

.form-wide {
  width: 75%;
}

.password-instructions {
  margin-bottom: 1em;

  .list-bullet {
    margin-left: 1em;
  }
}
