@import 'helpers';
@import 'typography';
@import 'colours';
@import 'shims';
@import 'measurements';

// Headings
// ==========================================================================

.heading-xlarge {
  @include bold-48();

  margin-bottom: pem(30, 32);
  margin-top: pem(15, 32);

  @include media(tablet) {
    margin-bottom: pem(60, 48);
    margin-top: pem(30, 48);
  }

  .heading-secondary {
    @include heading-27();

    color: $secondary-text-colour;
    display: block;
  }
}

.heading-large {
  @include bold-36();

  margin-bottom: pem(10, 24);
  margin-top: pem(25, 24);

  @include media(tablet) {
    margin-bottom: pem(20, 36);
    margin-top: pem(45, 36);
  }

  .heading-secondary {
    @include heading-24();

    color: $secondary-text-colour;
    display: block;
  }
}

.heading-medium {
  @include bold-24();

  margin-bottom: pem(10, 20);
  margin-top: pem(25, 20);

  @include media(tablet) {
    margin-bottom: pem(20, 24);
    margin-top: pem(45, 24);
  }
}

.heading-small {
  @include bold-19();

  margin-bottom: pem(5, 16);
  margin-top: pem(10, 16);

  @include media(tablet) {
    margin-top: pem(20, 19);
  }
}

.heading-with-border {
  border-top: 1px solid $grey-2;
  padding-top: $gutter-half;
}

.margin-top {
  margin-top: $gutter * 2;
}

// Bold font sizes

.bold-medium {
  @include bold-24();
}

.bold-small {
  @include bold-19();
}

.bold-xsmall {
  @include bold-16();
}

// Text

p {
  margin-bottom: pem(20, 16);
  margin-top: pem(5, 16);

  @include media(tablet) {
    margin-bottom: pem(20);
    margin-top: pem(5);
  }
}

.text-above-heading {
  @include heading-24();
  color: $secondary-text-colour;
  display: block;
  margin-top: $gutter;
  padding-bottom: 6px;
  padding-top: $gutter-half;
}

// Lede, or intro text
.lede {
  @include core-24;
  margin-bottom: $gutter;
}

// Set a max-width for text blocks
// Less than 75 characters per line of text
.text {
  max-width: 30em;

  @include ie-lte(6) {
    width: 645px;
  }
}

.text-secondary {
  color: $secondary-text-colour;
}

// Link styles
.link {
  color: $link-colour;
  text-decoration: underline;
}

.link:visited {
  color: $link-visited-colour;

  &.ignore-visited:visited {
    color: $link-colour;
  }

  &.ignore-visited:hover {
    color: $link-hover-colour;
  }
}

.link:hover {
  color: $link-hover-colour;
}

.link:active {
  color: $link-colour;
}


// High-light text
.highlight {
  @include heading-27;
  color: $light-blue;
}


// Back link styles - with left pointing arrow

.back-link {
  @include inline-block;

  @include core-16;

  border-bottom: 1px solid $black;
  color: $black;
  margin-bottom: $gutter;
  margin-top: $gutter-half;
  padding-left: 14px;
  position: relative;
  text-decoration: none;

  // Fallback
  // IE8 doesn't support rgba and only supports the single colon syntax for :before
  // IE7 doesn't support pseudo-elements, let's fallback to an image instead.
  // Ref: http://caniuse.com/#search=%3Abefore, http://caniuse.com/#search=rgba
  @include ie-lte(8) {
    background: image-url('icon-arrow-left.png') no-repeat 0 2px;
    border-bottom: 1px solidi $grey-2;
    color: $grey-2;
    display: inline-block;
    font-family: 'nta', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-left: 14px;
    position: relative;
    text-decoration: none;
    text-transform: none;
  }

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $black;
  }

  //Back arrow - left pointing black arrow
  &::before {
    border-bottom: 5px solid transparent;
    border-right: 6px solid $grey-2;
    border-top: 5px solid transparent;

    content: '';
    display: block;
    height: 0;
    left: 0;
    margin-top: -6px;
    position: absolute;
    top: 50%;
    width: 0;
  }

  // Improve arrow shape in Firefox
  @-moz-document url-prefix() {
    &::before {
      border-bottom: 5px dotted $red;
      border-top: 5px dotted $red;
    }
  }
}

// Code styles
pre,
code {
  background-color: $highlight-colour;
  border: 1px solid $border-colour;
  color: $black;
  font-size: 13px;
  line-height: 19px;
  padding: 3px 7px;
}

// Horizontal rule style
hr {
  background: $border-colour;
  border: none;
  display: block;
  height: 1px;
  margin-bottom: $gutter;
  margin-top: $gutter;
  padding: 0;

  @include ie-lte(7) {
    color: $border-colour;
  }
}
