@import 'typography';
@import 'colours';
@import 'css3';
@import 'shims';
@import 'measurements';
@import 'conditionals';

// Forms
// ==========================================================================

// Fieldset is used to group more than one .form-group
fieldset {
  @extend %contain-floats;
  width: 100%;
}

// Form group is used to wrap label and input pairs
.form-group {
  @extend %contain-floats;
  margin-bottom: $gutter-half;
  width: 100%;

  @include media(tablet) {
    margin-bottom: $gutter;
  }
}

// Form group top is used to space elements
.form-group-top {
  @extend %contain-floats;
  margin-bottom: $gutter-half;
  padding-top: $gutter-half;
  width: 100%;

  @include media(tablet) {
    margin-bottom: $gutter;
  }
}

.form-group-related {
  margin-bottom: 10px;

  @include media(tablet) {
    margin-bottom: 20px;
  }
}

.form-group-compound {
  margin-bottom: $gutter;
}

// Form title
.form-title {
  margin-bottom: $gutter;

  @include media(tablet) {
    margin-bottom: ($gutter * 1.5);
  }
}


// Labels

// Form labels, or for legends styled to look like labels
.form-label {
  @include core-19;
  color: $text-colour;
  display: block;
  margin-bottom: 5px;
}

// Used for paragraphs in-between form elements
.form-block {
  @extend %contain-floats;
  float: left;
  width: 100%;
}


// Hints

// Form hints & examples are light grey and sit above a form control
.form-hint,
.form-optional {
  color: $secondary-text-colour;
  display: block;
  margin-bottom: 5px;
  @include media (tablet) {
  }
}

.form-optional {
  @include core-19;
  color: $secondary-text-colour;
  display: inline;
}

.form-hint {
  color: $secondary-text-colour;
  display: block;
  margin-bottom: 5px;
  margin-top: 0;
}

// Form controls

// By default, form controls are 50% width for desktop,
// and 100% width for mobile
.form-control {
  @include core-19;
  @include box-sizing(border-box);

  // Disable webkit appearance and remove rounded corners
  -webkit-appearance: none;

  background-color: $white;
  border: 2px solid $grey-1;
  border-radius: 0;
  padding: 4px;
  width: 100%;

  @include media(tablet) {
    width: 50%;
  }
}


// Form control widths
.form-control-3-4 {
  width: 100%;

  @include media(tablet) {
    width: 75%;
  }
}

.form-control-1-2 {
  width: 100%;

  @include media(tablet) {
    width: 50%;
  }
}

.form-control-1-4 {
  width: 100%;

  @include media(tablet) {
    width: 50%;
  }
}

.form-control-1-8 {
  border: 2px solid $grey-1;
  padding: 4px;
  width: 20%;

  @include ie(6) {
    width: 25%;
  }

  @include media(mobile) {
    margin-bottom: $gutter-half;
    width: 50%;
  }
}

// Used for address look-up
.form-control-select {
  @include core-19;
  @include box-sizing(border-box);
  -webkit-appearance: menulist;
  background-color: $white;
  border: 2px solid $grey-1;
  border-radius: 0;
  padding: 4px;
  width: 100%;

  @include media(tablet) {
    width: 50%;
  }
}

// Radio buttons
.form-radio {
  display: block;
  margin: 10px 0;

  input {
    margin: -4px 5px 0 0;
    vertical-align: middle;
  }
}

// Checkboxes
.form-checkbox {
  background: $panel-colour;
  border: 1px solid $panel-colour;
  display: block;
  margin: $gutter-half 0;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: $gutter-half;

  @include media(mobile) {
    width: 50%;
  }

  input {
    margin: -2px 5px 0 0;
    vertical-align: middle;
  }
}

// Buttons
.form .button {
  @include media(mobile) {
    width: 100%;
  }
}

// Inline elements
.ea-footer .inline {
  display: inline;
}
