@import 'colours';
@import 'measurements';
@import 'conditionals';

// Large hit area
// Radio buttons & checkboxes
// ==========================================================================

// By default, block labels stack vertically
.block-label {
  background: $panel-colour;
  border: 1px solid $panel-colour;
  clear: left;
  cursor: pointer; // Encourage clicking on block labels
  display: block;
  float: none;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: (18px $gutter $gutter-half $gutter * 1.5);
  position: relative;

  @include media(tablet) {
    float: left;
    margin-bottom: 5px;
    margin-top: 5px;
    // width: 25%; - Test : check that text within labels will wrap
  }

  // Absolutely position inputs within label, to allow text to wrap
  input {
    cursor: pointer;
    left: $gutter-half;
    position: absolute;
    top: 18px;
  }

  // Change border on hover
  &:hover {
    border-color: $black;
  }
}

// To stack horizontally, use .inline on parent, to sit block labels next to each other
.inline .block-label {
  clear: none;
  margin-right: $gutter-half;
}

// Selected and focused states

// Add focus to block labels
.js-enabled {
  .focused {
    outline: 3px solid $yellow;

    // Remove focus from radio/checkboxes
    input:focus {
      outline: none;
    }
  }

  // Only if JavaScript is enabled
  // Add focus styles to block labels
  .add-focus {
    outline: 3px solid $yellow;
  }

  // Remove focus styles from radio and checkbox inputs
  .block-label input:focus {
    outline: none;
  }

  // Add selected state to block labels
  .selected {
    background: $white;
    border-color: $black;
  }
}
