// Icons
// ==========================================================================
@import 'measurements';
@import 'device-pixels';

.icon {
  background-position: 0 0;
  background-repeat: no-repeat;

  h1 {
    display: inline;
  }
}

.icon-important,
.icon-mail,
.icon-tick {
  display: inline;
  height: 34px;
  margin-right: 5px;
  width: 34px;

  @include device-pixel-ratio() {
    background-size: 100%;
  }
}

.icon-important img,
.icon-mail img,
.icon-tick img {
  height: 34px;
  width: 34px;
}
