
.return-link {
  margin-top: 1.25em;
}

// Content
// ==========================================================================

#content {
  -webkit-font-smoothing: antialiased;
}

#global-header .header-proposition {
  padding-top: 0.5%;
}

// Phase banner
// ==========================================================================

.border-none {
  border-bottom: none;
}

// Summary
// Green box that confirms to user their registration is complete
// ==========================================================================

.complete-summary {
  text-align: center;
}

.reference-note {
  display: inline-block;
}

.reference-number {
  display: block;
  margin-bottom: 10px;
  margin-top: 5px;
}

// EA Footer
// ==========================================================================

.ea-footer {

  .revision {
    margin-top: 0.5em;
  }

  li {
    display: inline;
    margin-right: 10px;
  }
}

.panel-border-short {
  padding: 0;
  padding-left: 0.8em;

}

.white-space-nowrap {
  white-space: nowrap;
}

// Start now buttons
.button-start,
.button-get-started {
  background-image: file-url('icon-pointer.png');
  background-position: 100% 50%;
  background-repeat: no-repeat;
  padding: pem(7) pem(41) pem(4) pem(16);
}
