@import 'helpers';
@import 'typography';
@import 'measurements';
@import 'design-patterns/alpha-beta';
@import 'design-patterns/buttons';

.return-link {
  margin-top: 1.25em;
}

// Content
// ==========================================================================

#content {
  @extend %site-width-container;
  @extend %contain-floats;
  @include core-19;
  -webkit-font-smoothing: antialiased;
  padding-bottom: $gutter;

  @include media(desktop) {
    padding-bottom: $gutter * 3;
  }
}

#global-header .header-proposition {
  padding-top: 0.5%;
}

// this is in elements/_helpers.scss
// Content visually hidden
// .visuallyhidden {
//   border: none;
//   clip: rect(0 0 0 0);
//   height: 1px;
//   margin: -1px;
//   overflow: hidden;
//   padding: 0;
//   position: absolute;
//   width: 1px;
// }

// Phase banner
// ==========================================================================

.phase-banner {
  @include phase-banner(beta);
}

.border-none {
  border-bottom: none;
}

// Summary
// Green box that confirms to user their registration is complete
// ==========================================================================

.complete-summary {
  background-color: $turquoise;
  color: $page-colour;
  margin-bottom: $gutter * 1;
  margin-top: $gutter-half;
  padding-bottom: $gutter;
  padding-top: $gutter;
  text-align: center;
}

.reference-note {
  @include bold-19;
  display: inline-block;
  margin-top: $gutter;
}

.reference-number {
  @include bold-36;
  display: block;
  margin-bottom: 10px;
  margin-top: 5px;
}

.mail-icon {
  margin-bottom: $gutter;
}

// Block positioning
// ==========================================================================

.inner-block {
  @include inner-block;
}

// EA Footer
// ==========================================================================

.ea-footer {
  @include core-16;
  //margin-bottom: $gutter-half;
  margin-bottom: $gutter;

  @include media(mobile) {
    display: block;
  }

  .revision {
    color: $grey-2;
    margin-top: 0.5em;
  }

  li {
    @include core-16;
    display: inline;
    margin-right: 10px;
  }
}

.panel-border-short {
  padding: 0;
  padding-left: 0.8em;

}


.white-space-nowrap {
  white-space: nowrap;
}

// Start now buttons
.button-start,
.button-get-started {
  @include bold-24;
  background-image: file-url('icon-pointer.png');
  background-position: 100% 50%;
  background-repeat: no-repeat;
  padding: pem(7) pem(41) pem(4) pem(16);

  @include device-pixel-ratio {
    background-image: file-url('icon-pointer-2x.png');
    background-size: 30px 19px;
  }

  @include ie(6) {
    background-image: file-url('icon-pointer-2x.png');
  }
}
