@import 'typography';
@import 'measurements';
@import 'colours';

// Related positioning
// ==========================================================

.related {
  border-top: 10px solid $link-colour;
  margin-top: 3.6em;

  h2 {
    @include bold-24;
    margin-top: $gutter-half;
  }

  .inner {
    margin: 0 auto;
    width: auto;
  }

  ul {
    list-style: none outside none;
  }

  li {
    margin-bottom: 0.75em;
    padding-left: 0;

    a {
      @include core-16;
      display: block;
      line-height: 1.25em;
      margin-bottom: 0.75em;
    }

    p {
      @include core-19;
      display: block;
      line-height: 0.25em;
      padding: 0;
    }
  }
}
