@import 'helpers';
@import 'typography';
@import 'colours';
@import 'measurements';

// Tables
// ==========================================================================

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

  th,
  td {
    @include core-16;
    border-bottom: 1px solid $border-colour;
    color: $text-colour;
    padding: pem(12, 16) pem(20, 16) pem(9, 16) 0;
    text-align: left;
  }

  th {
    font-weight: 700;
    // Right align headings for numeric content
    .numeric {
      text-align: right;
    }
  }

  // Use tabular numbers for numeric table cells
  .numeric {
    td {
      @include core-16($tabular-numbers: true);
      text-align: right;
    }
  }
}

// .cookies-table {
//   tr, td, th {
//     padding-bottom: 0.2em;
//     padding-left: 5px;
//     padding-top: 0.5em;
//   }
// }

.summary-table {
  margin-bottom: $gutter;

  tr, td, th {
    padding-bottom: 0.2em;
    padding-left: 5px;
    padding-top: 0.5em;
    vertical-align: bottom;

    &.v-middle {
      vertical-align: middle;
    }
  }

  td {
    padding-left: 5px;
    width: 43%;
  }
}

.single-line-address {
  vertical-align: bottom;
}
