@import 'colours';
@import 'conditionals';
@import 'typography';
@import 'measurements';

@import './variables';

// Responsive tabs

// REQUIRED for core functionality of tab.js

// scss-lint:disable SelectorFormat, PropertySortOrder, SelectorDepth, ColorVariable
// scss-lint:disable MergeableSelector, DeclarationOrder, LeadingZero

.responsive-tabs__heading {
  display: none;
}

.responsive-tabs__list__item {
  display: inline;
  cursor: pointer;
  @include core-16;
}

@include media($max-width: $mobile-max, $ignore-for-ie: true) {
  .responsive-tabs__list {
    display: none;
  }

  .responsive-tabs__heading {
    display: block;
    cursor: pointer;
  }

  .responsive-tabs__panel--closed-accordion-only {
    display: none;
  }
}

@include media($max-width: $tablet-min, $ignore-for-ie: true) {
  .responsive-tabs__panel--closed-accordion-only {
    display: block;
  }
}

// END - Required for core functionality of tab.js

// Tabs wrapper

.responsive-tabs-wrapper {
  clear: both;
  zoom: 1;
}

.responsive-tabs-wrapper::before,
.responsive-tabs-wrapper::after {
  content: '';
  display: table;
}

.responsive-tabs-wrapper::after {
  clear: both;
}

// Tabs enabled

.responsive-tabs__heading:focus,
.responsive-tabs__list__item:focus {
  outline: 3px solid $focus-colour;
}

.responsive-tabs__heading--active:focus,
.responsive-tabs__list__item--active:focus {
  outline: 0;
}

 // Tabs desktop

.responsive-tabs__list {
  padding: 0;
  padding-bottom: 14px;
  line-height: 1em;
}

 // Tab item

.responsive-tabs__list__item {
  background: $panel-colour;
  margin: 0.26316em 0.26316em 0.26316em 0;
  padding: 0.47368em 1em;
  border: 0 none;
  color: $link-colour;
}

.responsive-tabs__list__item--active {
  background: $page-colour;
  border: 1px solid #bfc1c3;
  border-bottom: 1px solid transparent;
  margin-top: 0;
  margin-bottom: 1em;
  padding: 0.68421em 0.94737em 0.83684em;
  color: $text-colour;
}

.responsive-tabs__panel {
  margin-bottom: 1.05263em;
}

.responsive-tabs th p {
  margin-right: $gutter-half;
}

.responsive-tabs td {
  padding-right: 5px;
}

.responsive-tabs {
  width: 100%;
}

.exemption-type {
  width: 15%;
}

.exemption-description {
  width: 75%;
}

.exemption-description p {
  padding-right: $gutter;
}

.exemption-select {
  width: 10%;
}


 // Tabs mobile devices

@include media($max-width: $mobile-max, $ignore-for-ie: true) {
  .responsive-tabs__heading {
    padding: 0.5em;
    border: 1px solid #ccc;
    background: #ddd;
    position: relative;
    margin-bottom: $gutter;
  }

   // Tab arrows (mobile devices only)
  .responsive-tabs__heading::after {
    content: '';
    display: block;
    position: absolute;
    right: 20px;
    top: 40%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #000;
  }

  .responsive-tabs__heading:hover,
  .responsive-tabs__heading--active:hover {
    background-color: #efefef;
  }

  .responsive-tabs__heading--active {
    background: $page-colour;
  }

  .responsive-tabs__heading--active::after {
    border-bottom: 10px solid #000;
    border-top: 0;
  }

  .responsive-tabs {
    width: 100%;
  }

}

.waste-exemptions-container {
  padding-top: $gutter-half;
  border-top: 1px solid #bfc1c3;
  margin-top: -0.1em;

  @include media($max-width: $mobile-max, $ignore-for-ie: true) {
    border-top: 0 none;
    padding-top: 0;
    margin-top: 0;
  }
}

.waste-exemptions-container h3 {
  margin-bottom: $gutter-half;
  margin-top: 0;
}

.waste-exemptions-container .margin-top-none {
  margin-top: 0;
}

.exemption-table p {
  @include core-19;
}

.exemption-table tr th p {
  @include bold-19;
}

// scss-lint:disable IdSelector
#desktopHidden {
  @include media(desktop) {
    display: none;
  }
}

#tabletHidden {
  @include media(tablet, $ignore-for-ie: true) {
    display: none;
  }
}

#mobileHidden {
  @include media(mobile, $ignore-for-ie: true) {
    display: none;
  }
}
