// Tables
// ==========================================================================

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

  th {
    font-weight: 700;
    text-align: left;
    .numeric {
      text-align: right;
    }
  }
}

.summary-table {

  tr, td, th {
    padding-bottom: 0.2em;
    padding-left: 5px;
    padding-top: 0.5em;
    vertical-align: bottom;

    &.v-middle {
      vertical-align: middle;
    }
  }

  td {
    padding-left: 5px;
    width: 43%;
  }
}

.single-line-address {
  vertical-align: bottom;
}
