
.user-bar {
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: right;

  .user-menu {
    display: inline-block;

    li {
      display: inline;
      float: left;
      list-style-type: none;
      margin-left: 1.25em;
      margin-bottom: -12px;
    }
  }

  #dashboard-link-container {
    float: left;
    margin-top: 0.5em;
    vertical-align: baseline;
  }

  #user-info-container {
    text-align: right;
  }
}
